@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Quicksand:wght@600&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.container{
    display: flex;
    flex-direction:row;
    height: 95vh;
    width: 70vw;
    margin: 0 auto;
    
}
.performance{
    text-align: center;
    font-size: 30px;
}
h1{
    font-size: 55px;
}
.chooseCharac{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.quizBody{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.perfStat{
    margin-top: 75px;
}
.rating{
    font-size: 25px;
}
.column {
    background-color: #fff;
    flex: 1 1 0px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
  }
.colMargin{
    margin-left: 20px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.inf{
  height: 40px;
  background-color: red;
  animation-name: play;
  animation-duration: 2s;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.first{
    width: 80%;
    background-color: #ffa8B6;
}
.second{
    width: 60%;
    background-color: #edf756;
}
.third{
    width: 30%;
    background-color: #9df9ef;
}
@keyframes play {
    0%   {
        width: 20%;
}
}


.options{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.option_select{
    appearance: none;
    padding: 10px 30px 10px 15px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Julius Sans One', sans-serif;
}
.forButtons{
    border-radius: 0.5rem;
    outline: 0;
    margin: 0 auto;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background: none;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 20px;
}
.thisButton{
    border: none;
    box-shadow: 1px 2px 1px 0.5px #bbb;
}

.quizBody p{
    margin-top: 50px;
}
.answers{
    display: flex;
    flex-direction: column;
}
.answer{
    outline: 5px;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);;
    color: black;
    width: 100%;
}
.answer:hover{
    transition: 1s;
    color: #0049B7;
    border-color: white;
}