@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Quicksand:wght@600&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.container{
    display: flex;
    flex-direction:row;
    height: 95vh;
    width: 70vw;
    margin: 0 auto;
    
}
.performance{
    text-align: center;
    padding: 10px;
    font-size: 30px;
   
}
h1{
    font-size: 55px;
}
.chooseCharac{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.quizBody{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.column {
    background-color: #fff;
    flex: 1 1 0px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
.colMargin{
    margin-left: 20px;
}
.inf{
  height: 40px;
  background-color: red;
  animation-name: play;
  animation-duration: 4s;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.first{
    width: 80%;
    background-color: red;
}
.second{
    width: 60%;
    background-color: yellow
}
.third{
    width: 30%;
    background-color: green;
}
@keyframes play {
    0%   {
        width: 20%;
}
    100% {
        transition: 3s ease-out;
}
}